services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log

  atkafka:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: atkafka
    command: ["ozone-events"]
    ports:
      - "2112:2112"
    environment:
      ATKAFKA_RELAY_HOST: "wss://bsky.network"
      ATKAFKA_BOOTSTRAP_SERVERS: "kafka:29092"
      ATKAFKA_OUTPUT_TOPIC: "atproto-events"
      ATKAFKA_OSPREY_COMPATIBLE: "false"
      ATKAFKA_PLC_HOST: "https://plc.directory"
      ATKAFKA_API_HOST: "https://public.api.bsky.app"
    restart: unless-stopped

volumes:
  zookeeper-data:
  zookeeper-logs:
  kafka-data:
